/supervised_segmentation_benchmark/oxford-iiit-pet
/oxford-iiit-pet
/MAE
__pycache__
mae_code
tiny-imagenet-200
oxford-iiit-pet
__pycache__
mae_embeddings
MAE
*.arrow
.vscode
dataprune_saves
build
COMP0197.egg-info
models
.conda